@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Jost&family=Poppins:wght@300&display=swap');
html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  height: 100vh;
}
#root{
  width: 100%;
}
.navtop{

  width: 100%;
  height: 100px;
  background-color: white;
  padding-left: 138px;
  padding-right: 138px;
  overflow-y: visible;

}
.navtop .row{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}
.navtop .row .col-md-4:nth-child(2){
  text-align: center;
}
.navtop .row .col-md-4:nth-child(3){
  text-align: end;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navtop .row .col-md-4:nth-child(1) img{
width: 30px;

}

.navtop .row .col-md-4:nth-child(1)  span{
font-family: Jost;
font-size: 15px;
font-weight: 700;
line-height: 47px;
letter-spacing: -0.025em;
text-align: left;
color: #000000;
margin-left: 10px
;
}
.navtop ul {
  padding-left: 0;
  list-style: none;
}
.navtop ul li,.navtop ul li a {
  display: inline-block;
  font-family: Jost;
font-size: 15px;
font-weight: 700;
line-height: 47px;
letter-spacing: -0.025em;
text-align: left;
margin-right: 40px;
text-decoration: none;
color: #00000080;
cursor: pointer;


}
.navtop ul li.active{
  position: relative;
  color: black;

}
.navtop ul li.active:after{
  content: '';
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 5px;
  border-radius: 30%;
  top: 10px;
  z-index: 9999;
    background: black;
    top: 40px;
    text-align: center;
    margin: auto;
    right: 50%;
    transform: translateX(50%);
}
.btn-log{
  color: white;
  background-color: #000000;

padding: 7px 25px 7px 25px;
border-radius: 17px;
text-decoration: none;

font-family: Jost;
font-size: 15px;
font-weight: 700;
letter-spacing: -0.025em;
text-align: left;
cursor: pointer;
margin-right: 10px;

}
.navtop .row .col-md-4:nth-child(3)  [type=button]:not(:disabled), .navtop .row .col-md-4:nth-child(3) [type=reset]:not(:disabled),.navtop .row .col-md-4:nth-child(3) [type=submit]:not(:disabled),.navtop .row .col-md-4:nth-child(3) button:not(:disabled){
  border: none;
  outline: none;
  background-color: white;
font-size: 12px;
border-color:  #B1B1B1;
padding: 10px 33px 10px 33px;
font-family: Poppins;
font-size: 12px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
border: 1px solid #B1B1B1

;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-menu.show{
  width: 100%;
  overflow: hidden;
}
.dropdown-menu.show ul li ,.dropdown-menu.show ul li  a{
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;

}
.trynow{
  width: 100%;
}
.trynow img {
  width: 25%;
  height: 600px;
}
.trynow{
  position: relative;
}
.trynow {
  position: relative;
}
.content-try{
  position: absolute;
  top: 30px;
  padding-left: 170px;

} .content-try p{
font-family: Jost;
font-size: 40px;
font-weight: 700;
line-height: 60px;
letter-spacing: -0.045em;
text-align: left;
color:  #F7F7F7;

}
.content-try span{
  font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 30px;
letter-spacing: -0.045em;
text-align: left;
color:white
}
.btn-try {

  padding: 12.6px 70px 12.6px 70px;
  border-radius: 30.6px;
  background: #F37824;
  box-shadow: 0px 4px 4px 0px #00000040;

  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  width: fit-content;
  height: 40px;
  align-self: center;
  font-family: Inter;
font-size: 20px;
font-weight: 600;
letter-spacing: -0.025em;
text-align: left;
display: flex;
align-items: center
}
.descimg{
  padding-top: 30px;
  padding-bottom: 15px;
}
.descimg h1{
  font-family: Inter;
font-size: 40px;
font-weight: 700;
line-height: 53px;
letter-spacing: -0.045em;
text-align: left;
;
letter-spacing: -0.045em;



}
.descimg p{
font-family: Inter;
font-size: 16px;
font-weight: 700;
letter-spacing: -0.045em;
line-height: 20px;
text-align: left;
color:  #00000099;
;
padding-top: 15px;
}

.descimg img{
width: 100%;
height: auto;
}
.m-auto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home #carouselExampleCaptions{
  height: auto;
  background: #F7F8FA;
  padding-top: 30px;
  padding-bottom: 100px;

}
.home #carouselExampleCaptions .carousel-item img {
  width: 100%;
  margin-top: 25px;

}
.home #carouselExampleCaptions .col-md-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home #carouselExampleCaptions .col-md-8 h1{
font-family: Inter;
font-size: 50px;
font-weight: 700;
letter-spacing: -0.045em;
text-align: left;

}
.home #carouselExampleCaptions .col-md-4 h3 {

font-family: Inter;
font-size: 40px;
font-weight: 600;
letter-spacing: -0.045em;
text-align: left;
color: #000000E5;
margin-bottom: 15px;
}

.home #carouselExampleCaptions .col-md-4  p{
font-family: Inter;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: -0.045em;
text-align: left;
color: #000000CC;
}
.home .carousel-control-next, .carousel-control-prev{
  opacity: 1!important;
 
}
.home .carousel-control-next-icon{
  border-radius: 50%;
  background-color: black;
  width: 1rem!important;
  height: 1rem!important;
  padding: 10px;
  background-size: 50% 50%;
  position: relative;
  left: 40px;
}
.home .carousel-control-prev-icon{
  border-radius: 50%;
  background-color: black;
  width: 1rem!important;
  height: 1rem!important;
  padding: 10px;
  background-size: 50% 50%;
  position: relative;
  right: 40px;
}

.home .carousel-indicators{
}
.home .carousel-indicators [data-bs-target]{

}
.carousel-indicators{

}
.home .carousel-indicators.active{
background: #D9A43C!important;
height: 5px!important;

}
.home .carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 40px;
  height: 5px!important;
  padding: 0;
  border-radius: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #D9D9D9;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: opacity .6s ease;
}
.home .carousel-indicators .active[data-bs-target]{
  background: #D9A43C!important;
  height: 5px!important;

}
.revirew .col-md-6:first-child img{
  width: 100%;
  height: auto;

}
.revirew .col-md-6:last-child{
  padding-top: 30px;
}
.desc-review h1{
  margin-bottom: 30px;
  font-family: Inter;
font-size: 50px;
font-weight: 700;
letter-spacing: -0.045em;
text-align: left;

}
.desc-review p{
font-family: Inter;
font-size: 16px;
font-weight: 700;
letter-spacing: -0.045em;
text-align: left;
color: #00000080;
width: 67%;


}
.img-rad{
width: 50px;
height: 50px;
border-radius: 50%;
margin-right: 15px;
}
.desc-imgred{
display: flex;
    flex-direction: column;
    justify-content: center;
}
.desc-imgred p{
font-family: Inter;
font-size: 18px;
font-weight: 700;
letter-spacing: -0.045em;
text-align: left;
color: #000000B2;
margin-bottom: 0;

}
.desc-imgred ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}
.desc-imgred ul li{
  display: inline-block;
  float: left;
}
.desc-imgred ul li img{
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.desc-review {
  padding-bottom: 20px;
}
.features{
background-color: #F7F8FA;

}
.footer{
background-color: #283646;
padding-top: 60px;
padding-bottom: 30px;
}
.img-logo span{
  font-family: Jost;
font-size: 14px;
font-weight: 700;
letter-spacing: -0.025em;
text-align: left;
color: white;
margin-left: 10px;

}
.footer .col-md-4 p{
  font-family: Jost;
font-size: 16px;

letter-spacing: 0.8495833873748779px;
text-align: left;
color: white;
padding-top: 40px;

}
.ul-left li{
  font-family: Jost;
font-size: 14px;
letter-spacing: 0.8495833873748779px;
text-align: left;
color: white;
margin-right: 15px;
padding-bottom: 15px;


}
.ul-left li img{
  width: 15px;
  margin-right: 15px;
}
.ul-left{
  list-style: none;
  padding-left: 0;
}
.footer .col-md-2 p{
  font-family: Jost;
  font-size: 16px;
  letter-spacing: 0.8495833873748779px;
  text-align: left;
  color: #92989F;
  padding-top: 10px;

  
}
.footer .col-md-2 ul {
  list-style: none;
  padding-left: 0;
}
.footer .col-md-2 ul li {
  font-family: Jost;
  font-size: 14px;
  letter-spacing: 0.8495833873748779px;
  text-align: left;
  color: white;
margin-bottom: 15px;
}
.footer .container{
  padding-bottom: 40px;
  border-bottom: 2.83px solid #71777D}

  .p-footer{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Jost;
font-size: 12px;
font-weight: 700;
letter-spacing: 0.7282143235206604px;
text-align: center;
color: #92989F;


  }
.img-logo img{
  width: 30px;
}

#app {
  height: 100%;
}

.swiperhalf .swiper {
  width: 100%;
  height: 78px;
  background-attachment: red
  ;
}

.swiperhalf .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-color: red;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.swiperhalf .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiperhalf .swiper-slide {
  width: 40%;
}

.swiperhalf .swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiperhalf .swiper-slide:nth-child(3n) {
  width: 40%;
}
.fixedtitle{
position: absolute;
bottom: 0;
width: 100%;
padding: 0.85px 4.24px 0.85px 4.24px;
border-radius: 0px 0px 3px 3px;
background: #313131;
color: white;
font-family: Inder;
font-size: 19px;
font-weight: 400;
line-height: 24px;
letter-spacing: -0.06em;
text-align: center;
text-decoration: none;



}
.CardPrice h1{
  font-family: Inder;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.06em;
color: #0E0101;
padding-top: 20px;


}
.cardprice-comp{
width: 100%;
height: 89px;
background-color: red;
border-radius: 5px;
box-shadow: 0px 2px 2px 0px #00000026;
display: flex;

}
.cardprice-comp .price{
  width: 60%;
  font-family: Inder;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.06em;
color: white;
height: 100%;
display: flex;
align-items: center;
padding-left: 20px;
background: #313131;


}
.cardprice-comp .img-price{
  width: 40%;
}
.cardprice-comp .img-price img{
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.offcanvas-body {
  padding: 0;
}
.offcanvas.offcanvas-bottom{

height: 298px;
border-radius: 36px 36px 0px 0px;
box-shadow: 0px -3px 4px 0px #FFFFFF40;
padding: 15px 20px 30px 20px;

}
.line{
  width: 100px;


 background: #313131;
;
border: 4px solid #313131;
margin: auto;
border-radius: 50px;



}
.offcanvas-body img{

width: 100%;
height: 185px;

border-radius: 20px;
box-shadow: 0px 4px 4px 0px #00000040;
margin-top: 10px;
}
.offcanvas-body h1{
  font-family: Inder;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: -0.06em;
color: #313131;
padding-bottom: 0;
margin-bottom: 0;
padding-top: 10px;

}
.swiperhalf{
margin-top: 20px;
}
.offcanvas.show:not(.hiding), .offcanvas.showing{
  height: auto;
}
.offcanvas-body span{
font-family: Inder;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.06em;
text-align: center;
}
.cardprice-comp{
  margin-bottom: 10px;
  overflow: hidden;
}
.Topnavmobile .img-between {
  display: none;
}
.emojie{
width:100%;
height: 98px;

border-radius: 8px;
border: 1px solid #D9D9D9;
position: relative;
    overflow: hidden;
}
.feedback{
  height: 80vh;
}
.feedback h1{
text-align: center;
font-family: Inder;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: -0.06em;
text-align: center;
color: #0E0101;
margin-top: 20px;



}

.feedback label{
font-family: Inder;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.06em;
text-align: center;
color: #0E0101B2;
}

.feedback input::placeholder{
  font-family: Inder;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: -0.06em;
text-align: center;
color: #0E010180;
text-align: center;

}
.feedback .emojie input{
  position: absolute;
  bottom: 0;
  border: none;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
  border-top: 1px solid #D9D9D9
}

.reating-star{
width: 100%;
height: 54px;

border-radius: 8px;
border: 1px solid #D9D9D9
}
.reating-star{
  margin-bottom: 15px;
}
.phone{
  width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #D9D9D9

}
.btn-send{
  width:100%;
height:49px;

padding: 10px 0px 10px 0px;
border-radius: 10px;
background: #EF212C;
color: #FEFEFE;

box-shadow: 0px 4px 9px 0px #0000001C;
font-family: Inter;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;

text-align: center;
text-decoration: none;
position: absolute;
margin-top: 40px;
}
form{
  position: relative;
}
.reating-star {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reating-star i{
font-size: 20px;
margin-right: 5px;

}
.reating-star .far{
  color: #D9D9D9;
}
.reating-star .fas{
  color: yellow;
}
.logo-signup{
  display: flex;
}
.logo-signup img{
  width:29px;
  height: 29px;
  margin-right: 10px;
}
.logo-signup span{
  font-family: Jost;
font-size: 13px;
font-weight: 700;
line-height: 19px;
letter-spacing: -0.025em;
text-align: left;
color: #000000;

}
.signup label{
  font-family: Inter;
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0em;
text-align: left;
color: #2E2E2E;

}
.signup input{
  border-radius: 1px;
  height: 45px;
  width: 100%;
  padding: 10px;

  border: none;
  outline: none;
  border: 1px solid  #00000026!important;
} .signup input::placeholder{
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #00000059;
  
}
.signup form > input:not(:last-child) {
  margin-bottom: 15px;

}

.signup form p{
font-family: Inter;
font-size: 9px;
font-weight: 500;
line-height: 11px;
letter-spacing: 0em;
text-align: left;
color: #E67F7F;
}
.signup  .btn-submit{
height: 45px;
border-radius: 1px;
background-color: #5456FF;
color: white;
font-family: Inter;
font-size: 12px;
font-weight: 600;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
outline: none;
border: none;
width: 100%;

}
.img-right{
  background: #7A97FF1A;
  height: 100%;
  padding: 30px;

}
.signup .row .col-md-6:first-child{
  padding: 30px;
}
.img-right h1{
  font-family: Inter;
font-size: 47px;
font-weight: 800;
line-height: 57px;
letter-spacing: 0em;
text-align: right;
color: #000000D9;

}
.img-right p{
  font-family: Inter;
font-size: 17px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: right;
color: #B0B0B0;

}
.signup form{
  margin: auto;
    top: 50%;
    transform: translateY(-50%);
    width: 60%;
  
}
.signup form h1{
  text-align: center;
  margin-bottom: 30px;
}
.signup label{
  display: block;
  margin-bottom: 5px;
}
.signup{

  height: 100vh;
  overflow: hidden;
}
.signup,.signup .row, .signup .row .col-md-6{
  height: 100vh;

}
.contact {

  display: flex;
    justify-content: center;
    text-align: center;
}
.contact p{
font-family: Inter;
font-size: 9px;
font-weight: 500;
line-height: 11px;
letter-spacing: 0em;
text-align: left;
color:#BCBCBC!important;
margin-top: 40px;
text-align: center;
width: 80%;
border-top: 0.8px solid #00000026;
text-align: center!important;
padding-top: 20px!important

}
.contact span{
font-family: Inter;
font-size: 9px;
font-weight: 600;
line-height: 11px;
letter-spacing: 0em;
text-align: left;
color: #E67F7F;
}
